.dls-m-editor{
  width: 100%;
  outline: none;
  .dls-m-editor-content{
    border-bottom: 1px solid #d1d1d1;
    padding: 20px;
    word-wrap: break-word;
    line-height: 1.9;
    outline: none;
    white-space: pre-wrap;
    overflow: auto;
    font-family: auto; //修复回车带span标签bug
    .bold{
      font-weight: bold;
      font-size: 18px;
    }
    p{
      min-height: 28px;
      margin: 0;
      padding: 0;
      font-weight: normal;
      font-size: 14px;
    }
    .m-editor-block{
      -webkit-user-modify: read-only;
      text-align: left;
      width: 100%;
      &.loading{
        min-width: 200px;
        min-height: 200px;
        background-repeat: no-repeat;
        background-position: 0;
      }
      &.active>img{
        border: 2px solid #5f97f7;
      }
      img{
        max-width: 320px;
        cursor: pointer;
        border: 2px solid white;
        &:hover{
          border: 2px solid #5f97f7;
        }
      }
    }
  }
  .toolbar {
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    padding: 6px 8px;
    position: sticky;
    top: 0;
    background: #ffffff;
    .icon-container{
      padding: 3px 5px;
      display: inline-block;
      height: 18px;
      border: 1px white solid;
      box-sizing: initial;
      &:hover{
        border: 1px #bcbcbc solid;
        background: rgb(216, 216, 216);
      }
      &.active{
        border: 1px #bcbcbc solid;
        background: rgb(216, 216, 216);
      }
      span{
        width: 16px;
        height: 16px;
        display: inline-block;
        background-size: 100% 100%;
      }
    }
  }
  
  @keyframes rotating {
    0% {
      transform: rotate(0deg);
    }
    100% {
        transform: rotate(1turn);
    }
  }
}