.dls-m-editor{
  width: 100%;
  outline: none;
  .dls-m-editor-content{
    border-bottom: 1px solid #d1d1d1;
    padding: 20px;
    word-wrap: break-word;
    line-height: 1.9;
    outline: none;
    white-space: pre-wrap;
    overflow: auto;
    font-family: auto; //修复回车带span标签bug
    .h1,.h2{
      font-weight: bold;
      font-size: 18px;
    }
    .h1{
      font-size: 20px;
    }
    .refer{
      border-left: 4px solid #ccc;
      padding-left: 10px;
      background: #F7F8FB;
    }
    ul,ol{
      margin: 0;
      padding-left: 20px;
    }
    .ol{
      list-style: decimal;
    }
    .ul{
      list-style: initial;
      font-weight: normal;
    }
    p{
      min-height: 28px;
      margin: 0;
      padding: 0;
      font-weight: normal;
      font-size: 14px;
    }
    .m-editor-block{
      -webkit-user-modify: read-only;
      text-align: left;
      width: 100%;
      border: 2px solid transparent;
      text-align: center;
      .dls-image-capture{
        outline: none;
        border-top: 2px solid transparent;
        white-space: nowrap;
        font-size: 12px;
      }
      &.loading{
        min-width: 200px;
        min-height: 200px;
        background-repeat: no-repeat;
        background-position: 0;
        .dls-image-capture,img{
          border: none;
        }
      }
      &.active{
        border: 2px solid #ace;
      }
      &:hover{
        &.loading {
          .dls-image-capture,img{
            border: none;
          }
        }
        .dls-image-capture{
          border-top: 2px solid #5f97f7;
        }
        border: 2px solid #5f97f7;
      }
      img{
        max-width: 320px;
        cursor: pointer;
        border: 2px solid white;
        display: block;
        margin: 0 auto;
      }
    }
  }
  .toolbar {
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    padding: 6px 8px;
    position: sticky;
    top: 0;
    background: #ffffff;
    &.disable a{
      opacity: .5;
      cursor: not-allowed;
      pointer-events: none;
    }
    .icon-container{
      padding: 3px 5px;
      display: inline-block;
      height: 18px;
      border: 1px white solid;
      box-sizing: initial;
      &:hover{
        border: 1px #bcbcbc solid;
        background: rgb(216, 216, 216);
      }
      &.active{
        border: 1px #bcbcbc solid;
        background: rgb(216, 216, 216);
      }
      span{
        width: 16px;
        height: 16px;
        display: inline-block;
        background-size: 100% 100%;
      }
    }
  }
  
  @keyframes rotating {
    0% {
      transform: rotate(0deg);
    }
    100% {
        transform: rotate(1turn);
    }
  }
}